<router-outlet />

<div> 
<div class="w-full  " *ngFor="let   transforming  of    future">
  <n1-transforming [option]="   transforming"></n1-transforming>
</div>

<div class="flex    "> 
<div class="  p-3 w-1/3" *ngFor="let  about  of    company">
  <n1-about-company [option]="   about"></n1-about-company>
</div>
</div>

<!-- <div class="flex  gap-2  whitespace-nowrap"> 
  <div class="  " *ngFor="let  many   of    techno">
    <n1-technologies [option]="   many"></n1-technologies>
  </div>
  </div> -->

<div class="flex  gap-2 p-4  ">
<div class="   w-1/4   " *ngFor="let    study  of    case">
  <n1-case-study [option]="   study"></n1-case-study>
</div>
</div>


<div class="  p-4  ">
  <div class="       " *ngFor="let company  of    Powering">
    <n1-discription [option]="   company"></n1-discription>
  </div>
  </div>


</div>

<div class="w-full  " *ngFor="let   digital   of    integration">
  <n1-system [option]="digital"></n1-system>
</div>

<div class="w-full  " *ngFor="let  center   of    powerded">
  <n1-overview [option]="center"></n1-overview>
</div>

<div class=" flex gap-4 justify-center "> 
<div class="w-1/3  " *ngFor="let   solutions   of cloud">
  <n1-warehouse [option]="solutions"></n1-warehouse>
</div>
</div>

<div class="w-full  " *ngFor="let insights   of    about_webinar">
  <n1-webinar [option]="insights"></n1-webinar>
</div>
<div class="w-3/4 justify-center"> 
<div class="   " *ngFor="let tell  of yourself">
  <n1-contact-us [option]="tell"></n1-contact-us>
</div>
</div>
<div class="w-full  " *ngFor="let  our  of office">
  <n1-our_office [option]="our"></n1-our_office>
</div>

 
