<router-outlet />
<div class="flex bg-white">
  <div class=" items-center w-5/6  "> 
  
    <div class="  " *ngFor="let     project    of what">
      <n1-achive [option]="project"></n1-achive>
    </div>

    <div class="  " *ngFor="let   champion      of Usa">
      <n1-usa-corporation [option]="champion "></n1-usa-corporation>
    </div>
    
    <div class="  " *ngFor="let   champion      of aborad">
      <n1-ensure-successful  [option]="champion "></n1-ensure-successful >
    </div>

    <div class="  " *ngFor="let     different    of some">
      <n1-prominent-software [option]="different"></n1-prominent-software>
    </div>
</div>


<div class=" relative size-32 "> 
<div class="  fixed inset-y-0 top-16 right-0 w-30 bg-white" *ngFor="let  Switch    of  Table   ">
  <n1-table-of-content   [option]=" Switch  "></n1-table-of-content >
</div>
</div>
    
</div>