<router-outlet />
<div class="flex bg-white">
  <div class=" items-center w-5/6  "> 
<div class="w-full  " *ngFor="let   service  of devlopment">
  <n1-software-services [option]="service"></n1-software-services>
</div>

 
 <div class="flex gap-7 p-7  justify-between  "> 
<div class="  " *ngFor="let    Professionals  of it_select">
  <n1-it-select [option]="Professionals"></n1-it-select>
</div>
</div>

<div class="  " *ngFor="let   Science    of partners">
  <n1-it-development-partner [option]="Science"></n1-it-development-partner>
</div>
<div class=" flex justify-center ">
<div class="  " *ngFor="let    our    of our_partnership">
  <n1-partnership-awards [option]="our"></n1-partnership-awards>
</div>
</div>
<div class="  " *ngFor="let     leaders    of global">
  <n1-trusted-by-many [option]="leaders"></n1-trusted-by-many>
</div>

<div class="  " *ngFor="let     project    of what">
  <n1-achive [option]="project"></n1-achive>
</div>

<div class="  " *ngFor="let     different    of some">
  <n1-prominent-software [option]="different"></n1-prominent-software>
</div>


<div class="  " *ngFor="let    we_can    of help">
  <n1-how-we-help [option]="we_can"></n1-how-we-help>
</div>

<div class="  " *ngFor="let   champion      of Usa">
  <n1-usa-corporation [option]="champion "></n1-usa-corporation>
</div>

<div class="  " *ngFor="let   champion      of  Our">
  <n1-clients-value [option]="champion "></n1-clients-value>
</div>

<div  class="    gap-5 items-center flex grid grid-cols-2 gap-2" > 
  <!-- <div  class=" text-xl text-gray-900 "> 60+ Software Types in Our Portfolio</div> -->
<div class="   " *ngFor="let    see      of  portfolio">
  <n1-software-types [option]="see "></n1-software-types>
</div>
</div>

 

<div class="  " *ngFor="let    industries        of  experience">
  <n1-software-industry [option]="industries   "></n1-software-industry>
</div>

 
<div class="  " *ngFor="let     technologies of  expand ">
  <n1-mainstream-technologies  [option]=" technologies "></n1-mainstream-technologies >
</div>

<div class="  " *ngFor="let      Your  of  help_plan ">
  <n1-scenarios  [option]=" Your  "></n1-scenarios >
</div>

 

<div class="  " *ngFor="let      Develop    of  Costs ">
  <n1-costs-of-software  [option]=" Develop   "></n1-costs-of-software >
</div>

<div class="  " *ngFor="let       Practices     of  Ensure ">
  <n1-successful-project   [option]=" Practices    "></n1-successful-project >
</div>

 

<div class="  " *ngFor="let     Reliable           of  Proficient ">
  <n1-techs-tools  [option]="  Reliable      "></n1-techs-tools>
</div>

<div class="  " *ngFor="let     Choosing            of  Pace  ">
  <n1-choosing-an-optimal  [option]="  Choosing       "></n1-choosing-an-optimal>
</div>

<div class="  " *ngFor="let   person of  review  ">
  <n1-personal-review  [option]=" person "></n1-personal-review>
</div>

<div class="  " *ngFor="let  Switch    of  Vendor  ">
  <n1-dissatisfied  [option]=" Switch  "></n1-dissatisfied>
</div>
</div>


<div class=" relative size-32 "> 
<div class="  fixed inset-y-0 top-16 right-0 w-30 bg-white" *ngFor="let  Switch    of  Table   ">
  <n1-table-of-content   [option]=" Switch  "></n1-table-of-content >
</div>
</div>

</div>